html {
  --color: #999;
  --checked-color: #000;
  --bg-color: #e8e8e8;
}

input, label {
  cursor: pointer;
}

input[type="radio"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.input-field {
  accent-color: var(--checked-color)
}

.input-field-wrapper:hover {
  background-color: #71e06d;
}

.input-field:checked {
  background-color: red;
  color: black;
}

.none{
  display: none;
}

.block {
  display: block
}
